<!DOCTYPE html>
<html>

<head>
    <title>Carr App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/cars.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header">

 

                    <h2 class="text-center">
                       
            Some text
          </h2>
                </div>


                <div class="body-wrapper">

                    <div class="body-wrapper-2">
                        <div class="input-group">
                           

                            <input type="text" class="typeahead tt-query input-box" autocomplete="off" placeholder="Search for a brand">

                            <span class="glyphicon glyphicon-search"></span>
                            <ul class="results">
                                <li class="result">dsad</li>
                                <li class="result">dsadas</li>
                                <li class="result">dasdas</li>
                                <li class="result">dsad</li>
                                <li class="result">dsadas</li>
                                <li class="result">dasdas</li>
                            </ul>
                        </div>

                        <div class="clear">
                            <div class="left">
                                <div class="firstuseD">First use date</div>
                                <div id="dateRangePicker">
                                    <select name="start-date form-control" class="leftB">
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>xw
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>

                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>

                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>

                                    </select>
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                            <div class="right">
                                <div class="firstuseT">First test date</div>
                                <div id="dateRangePicker">
                                    <select name="start-date form-control" class="rightB">
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>xw
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>

                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>

                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>
                                        <option value="date" class="date">
                                            1950
                                        </option>

                                    </select>
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</body>

</html>