html {
    background: url(background.jpg) no-repeat center center fixed; 
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

body{
  font-size: 16px;
  padding-top: 60px;
  background: transparent;
}

.clear{
  clear: both;
  margin-bottom: 20px;
}

.right{
  margin-top:22px;
  padding-right: 50px;
  float:right;
}

.firstuseD{
      font-size: 20px;
    margin-top: -18px;
}

.firstuseT{
      font-size: 20px;
    margin-top: -24px;
}

.left{
      margin-top:15px;
      float: left;
    }

.rightB{

 width: 80px;
}

.leftB{
  width: 80px;
}

.firstuse, .firsttest{
  border: 2px solid #CCCCCC;
  border-radius: 8px;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  outline: medium none;
  padding: 8px 12px;
  width: 150px;


}

.img{

  width:170px;
  height: 100px;
  margin-left: 500px;



}

.aling{

  text-align: center;
  padding-left: 100px;

}

.typeahead, .tt-query {
  border: 2px solid #CCCCCC;
  border-radius: 8px;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  outline: medium none;
  padding: 8px 12px;
  width: 150px;
  margin-bottom: 2px;
}

.input-box {
  width: 318px;
  height: 40px;
}


.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  padding: 8px 0;
  width: 422px;
}

.tt-query{

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.panel{
  background-color:rgba(255,255,255,0.9);
  min-height: 500px;
  max-height: 700px;
}

.glyphicon{
  padding: 9px;
  border-radius: 5px;
  border: 1px solid black;
  border: 2px solid #CCCCCC;
  margin-left: 10px
}

.body-wrapper {
  border-radius: 10px;
  color: #515151;
  background-color: white;
  margin: 0 auto;
  width: 65%;
  padding: 50px 0px;
  height: 500px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.header {
  margin-bottom: 20px;
}

.body-wrapper-2 {

  margin: 0 auto;
  width: 50%;
}

ul.results {
    width: 100%;
    margin: 0px;
    background-color: #f1f1f1;
    max-height: 100px;
    overflow: scroll;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,1,0.17);
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
}

ul.results > li.result {
  list-style-type: none;
}

.more-details {
  clear: both;
  margin-bottom: 20px;
  height: 30px;
}

.cylindric {
  float: left;
}

.mileage {
  float: right;
  border-radius: 3px;
  height: 35px;
}

.capacity {
  border-radius: 3px;
  height: 35px;
}

.input-group {
  display: block;
}

.send-button {
  width: 50%;
  margin-top: 20px;
}

.firstuseT, .firstuseD {

  font-size: 16px;
}